$charcoal100: #212121;
$charcoal200: #4d4d4d; // rgba($charcoal, .8) over pure white
$charcoal300: #7a7a7a; // rgba($charcoal, .6)  over pure white
$charcoal400: #a6a6a6; // rgba($charcoal, .4)  over pure white
$charcoal500: #d3d3d3; // rgba($charcoal, .2)  over pure white
$charcoal600: #e8e8e8; // rgba($charcoal, .1)  over pure white
$charcoal700: #f4f4f4; // rgba($charcoal, .05)  over pure white

$yellow100: #3f2e05; // rgba($yellow400, .25) over pure black
$yellow200: #7f5d0a; // rgba($yellow400, .50) over pure black
$yellow300: #be8b0e; // rgba($yellow400, .75) over pure black
$yellow400: #fdb913;
$yellow500: #fecb4e; // rgba($yellow400, .75) over pure white
$yellow600: #fedc89; // rgba($yellow400, .50) over pure white
$yellow700: #feedc4; // rgba($yellow400, .25) over pure white

$blue100: #002b2f; // rgba($blue400, .25) over pure black
$blue200: #00565e; // rgba($blue400, .50) over pure black
$blue300: #00808d; // rgba($blue400, .75) over pure black
$blue400: #00abbc;
$blue500: #40c0cd; // rgba($blue400, .75) over pure white
$blue600: #7fd5dd; // rgba($blue400, .50) over pure white
$blue700: #bfeaee; // rgba($blue400, .25) over pure white

$green100: #233210; // rgba($green400, .25) over pure black
$green200: #476420; // rgba($green400, .50) over pure black
$green300: #6a952f; // rgba($green400, .75) over pure black
$green400: #8dc73f;
$green500: #aad56f; // rgba($green400, .75) over pure white
$green600: #c6e39f; // rgba($green400, .50) over pure white
$green700: #e2f1cf; // rgba($green400, .25) over pure white
